#root {
  max-width: 75vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body
{
	background-color: #0a0a0a;
	position: absolute;
	color:aliceblue;
	width: 100%;
	height: 85vh;
	font-family: 'Lato Light';
	margin: 0.14%;
}

p
{
	font-size: 24px;
}

.Bar
{
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  padding-right: 5%;
}

.Time
{
  display: flex;
  justify-content: center;
  align-items: center;
}